.product {
    &__products {
        &-table{
            // product__products-table-container
            &-container{
                display: grid;
                grid-template-columns: 30px 50px 300px 100px 1fr 100px 150px 300px 200px 300px 150px 40px;
                grid-template-rows: auto;
                gap: 10px;
                width: fit-content;
                border: 1px solid var(--block-color);
                border-radius: 7px;
                margin-bottom: 15px;
            }
            //product__products-table-status
            &-status{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            //product__products-table-image
            &-image{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            //product__products-table-title
            &-title{
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            //product__products-table-condition
            &-condition{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            //product__products-table-date
            &-date{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                &>span{
                    display: flex;
                }
            }
            //product__products-table-state-product
            &-state-product{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            //product__products-table-price
            &-price{
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                &>span {
                    display: flex;
                }
            }
            //product__products-table-type
            &-type{
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            //product__products-table-name
            &-name{
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            //product__products-table-title-order 
            &-title-order {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            //product__products-table-date-create
            &-date-create{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                &>span {
                    display: flex;
                }
            }
            //product__products-table-icon-del
            &-icon-del{
                display: flex;
                align-items: center;
                justify-content: center;
            }
    
        }
        //product__products-guarantee
        &-guarantee{
            &>span{
                opacity: .5;
                width: 30px;
                display: inline-block;
            }
        }
        //product__products-container
        &-container {
            background-color: var(--bg-color);
            position: relative;
            overflow-x: auto;
            width: max-content;
            &::-webkit-scrollbar {
                width: 0px;
            }
            &::-webkit-scrollbar-track {
                background: transparent;
            }
            &::-webkit-scrollbar-thumb {
                background-color: var(--block-color);
                border-radius: 20px;
                border: 3px solid transparent;
            }
            border: 3px solid transparent;
            scrollbar-width: thin;
            scrollbar-color: var(--block-color) transparent;
            &--mini{
                display: flex;
                gap: 25px;
            }
        }

        //product__products-icon-status
        &-icon-status {
            &--0{
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
    
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    width: 10px;
                    height: 10px;
                    background: #000000;
                }
            }
            &--1{
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
    
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    width: 10px;
                    height: 10px;
                    background: var(--active-status);
                }
            }
        }   }

    // product--active
    &--active {
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 12px;
            transform: translate(-50%, 0) rotate(135deg);
            width: 10px;
            height: 10px;
            background: transparent;
            border-left: 3px solid #ffffff;
            border-top: 3px solid #ffffff;
        }

        &::before {
            height: 100%;
            top: 0;
            right: 0;
            width: 40px;
            position: absolute;
            display: block;
            background-color: var(--block-color);
            content: '';
        }
    }
}